/* =============== GENERAL STYLES =============== */

/* --------------- global styles --------------- */

body:after
{
    display: none;
    content: url(images/dennis.jpeg);
}

*
{
    margin: 0;
    padding: 0;
    font-family: 'Assistant', helvetica, sans-serif;
    text-decoration: none;
    border: none;
    position: relative;
    z-index: 1;
}

html
{
    width: 100%;
    height: 100%;
}

body
{
    width: 100%;
    height: 100%;
}

/* --------------- div styles --------------- */

#splash {
    position: relative;
	min-height: 100%;
    overflow: hidden;
    background-color: rgb(0,0,0,0.3);
}

#login {
    max-width: fit-content;
    max-height: fit-content;
    margin: 20vh auto;
    padding: 30px;
    border-bottom: 8px solid #DC0814;
    border-radius: 0px;
    background-color: #f8f8f8;
    opacity: 1;
}

#main {
    max-height: fit-content;
    width: 100%;
    /*background-color: rgb(0,0,0,1);*/
}

#topbarl {
    background-color: rgb(0,0,0,0.7);
    height: 50px;
    padding: 5px 15px;
    box-shadow: 0 0 10px #000;
    border-bottom: 1px solid #555;
}

#topbar {
    background-color: rgb(0,0,0,0.7);
    height: 50px;
    padding: 5px 15px;
    box-shadow: 0 0 10px #000;
    border-bottom: 1px solid #555;
}

#dennis {
    width: 200px;
    height: 200px;
    margin: 0px 5px;
    padding: 0px;
    vertical-align: center;
    text-align: center;
    background-image: url("images/dennis.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: content-box;
    border-radius: 100px;
}

#dennis:hover {
    opacity: 1;
    text-decoration: none;
    transform: scale(1.05);
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

#mike {
    width: 200px;
    height: 200px;
    margin: 0px 5px;
    padding: 0px;
    vertical-align: center;
    text-align: center;
    background-image: url("images/mike.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: content-box;
    border-radius: 100px;
}

#mike:hover {
    opacity: 1;
    text-decoration: none;
    transform: scale(1.05);
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

.kunde {
    max-width: fit-content;
    max-height: fit-content;
    margin: 30px auto 0px auto;
    border: 1px solid #f0f;
    background-color: #fff;
}

/* --------------- table styles ---------------- */

td.text {
    width: 190px;
    padding: 0px 30px 20px 0px;
    vertical-align: center;
}

td.card {   
    width: 200px;
    max-height: 200px;
    padding: 20px 5px 14px 5px;
    vertical-align: center;
}

td.card:hover {
    opacity: 1;
    text-decoration: none;
    transform: scale(1.05);
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

td.spacer {
    width: 20px;
}

th {
    text-align: left;
}
.date {
    width: 200px;
}

.reason {
    width: 600px;
}

.time {
    width:200px;
    text-align: right;
}

/* --------------- image styles ----------------- */

img.profile {
    width: 200px;
    height: 200px;
    border-radius: 100px; 
}

/* --------------- font styles ----------------- */

h1 {
    margin-right: 30px;
}

#h1top {
    color: #fff;
    font-weight: 300;
}

p
{
    color: #444;
}

p.hover {
    font-size: 40px;
    line-height: 200px;
    opacity: 0;
    background-color: #000;
    border-radius: 100px;
    color: #fff;
}

p.hover:hover {
    opacity: 0.6;
}

a
{
    color: #444;
    display: block;
}

a.hover {
    font-size: 40px;
    line-height: 200px;
    background-color: rgb(0,0,0,0);
    border-radius: 100px;
    color: rgb(255,255,255,0);
}

a.hover:hover {
    background-color: rgb(0,0,0,0.6);
    color: rgb(255,255,255,1);
}

/* --------------- list styles --------------- *

/* --------------- link styles --------------- */

a
{
    color:#039;
    outline: 0;
}

/* --------------- misc styles --------------- */

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    opacity: 1;
}

/*#bg-image {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.25;
}*/


#assign {
    float: right;
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: 35px 40px 0px 0px;
    background-color: #DC0814;
    color: #fff;
    font-size: 25px;
    font-weight: 700;
}

/* =============== MEDIA QUERIES =============== */

/*@media screen and (min-width: 20px)
{
    p
    {
        font-size: 0.9vw;
        letter-spacing: 0.02vw;
        line-height: 1.3vw;
    }
    
    h2
    {
        font-size: 2vw;
        letter-spacing: -0.03vw;
    }
}*/

/*@media screen and (max-width: 1919px)
{
    p
    {
        font-size: 18px;
        letter-spacing: 0.1px;
    }
    
    h3
    {
        font-size: 36px;
    }
}

/*@media screen and (max-device-width: 960px) and (orientation: landscape)
{

}

@media screen and (max-device-width: 960px) and (orientation: portrait)
{

}

/* =============== COLOR INFORMATION =============== */

/* --------------- default style --------------- */

body
{
    background-color: #fff;
}