/* =============== GENERAL STYLES =============== */

/* --------------- global styles --------------- */

body:after
{
    display: none;
    content: url(images/dennis.jpeg);
}

*
{
    margin: 0;
    padding: 0;
    font-family: 'Assistant', helvetica, sans-serif;
    text-decoration: none;
    border: none;
    position: relative;
    z-index: 1;
}

html
{
    width: 100%;
    height: 100%;
}

body
{
    width: 100%;
    height: 100%;
}

/* --------------- div styles --------------- */

#splash {
    background-color: #ffffff;
    height: 100%;
    padding-top: 20vh;
}

#logo {
    float: right;
    margin-top: -18.5vh;
}

#login {
    max-width: fit-content;
    max-height: fit-content;
    margin: auto;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: 0 0 50px #999;
    background-color: #f8f8f8;
}

/* --------------- table styles ---------------- */

#dennis {
    width: 200px;
    height: 200px;
    margin: 0px 5px;
    padding: 0px;
    vertical-align: center;
    text-align: center;
    background-image: url("images/dennis.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: content-box;
    border-radius: 100px;
}

#dennis:hover {
    opacity: 1;
    text-decoration: none;
    transform: scale(1.05);
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

#mike {
    width: 200px;
    height: 200px;
    margin: 0px 5px;
    padding: 0px;
    vertical-align: center;
    text-align: center;
    background-image: url("images/mike.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: content-box;
    border-radius: 100px;
}

#mike:hover {
    opacity: 1;
    text-decoration: none;
    transform: scale(1.05);
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

td.text {
    width: 190px;
    padding: 0px 30px 20px 0px;
    vertical-align: center;
}

td.card {   
    /*border-radius: 12px;
    box-shadow: 0 0 10px #999;
    background-color: #eee;*/
    width: 200px;
    max-height: 200px;
    padding: 20px 5px 14px 5px;
    vertical-align: center;
}

td.card:hover {
    opacity: 1;
    text-decoration: none;
    transform: scale(1.05);
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

td.spacer {
    width: 20px;
}

/* --------------- image styles ----------------- */

img.profile {
    width: 200px;
    height: 200px;
    border-radius: 100px; 
}

/* --------------- font styles ----------------- */

h1 {
    margin-right: 30px;
}

p
{
    color: #444;
}

p.hover {
    font-size: 40px;
    line-height: 200px;
    opacity: 0;
    background-color: #000;
    border-radius: 100px;
    color: #fff;
}

p.hover:hover{
    opacity: 0.6;
}

a
{
    color: #444;
    display: block;
}

a.hover {
    font-size: 40px;
    line-height: 200px;
    opacity: 0;
    background-color: #000;
    border-radius: 100px;
    color: #fff;
}

a.hover:hover{
    opacity: 0.6;
}

/* --------------- list styles --------------- *

/* --------------- link styles --------------- */

a
{
    color:#039;
    outline: 0;
}

/* --------------- misc styles --------------- */

/* =============== MEDIA QUERIES =============== */

/*@media screen and (min-width: 20px)
{
    p
    {
        font-size: 0.9vw;
        letter-spacing: 0.02vw;
        line-height: 1.3vw;
    }
    
    h2
    {
        font-size: 2vw;
        letter-spacing: -0.03vw;
    }
}*/

/*@media screen and (max-width: 1919px)
{
    p
    {
        font-size: 18px;
        letter-spacing: 0.1px;
    }
    
    h3
    {
        font-size: 36px;
    }
}

/*@media screen and (max-device-width: 960px) and (orientation: landscape)
{

}

@media screen and (max-device-width: 960px) and (orientation: portrait)
{

}

/* =============== COLOR INFORMATION =============== */

/* --------------- default style --------------- */

body
{
    background-color: #fff;
}